html {
	margin: 0px;
  padding: 0px;
  background-color: #2d3c4b;
	/* background: url('./../img/indexBackground.png');
	background-attachment: fixed; */
}
body {
	text-align: center;
	color: white;
	/* width: 600px; */
	margin: 0px auto;
	padding: 0px;
	position: relative;
	font-size: 16px;
}
header {
	text-align:center;
	color: white;
	padding: 50px 70px;
	position: relative;
	top: 0;
}
.nombre {
	font-family: "Open Sans", sans;
	font-size: 70px;
	font-weight: 600;
	letter-spacing: -5px;
	color: #c8c8c8;
	padding: 100px 0px 0px 0px;
}
.apellido {
	font-family: "Open Sans", sans;
	font-size: 70px;
	font-weight: 700;
	letter-spacing: -5px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}
.web2 {
	font-family: "Open Sans", sans;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -1px;
	word-spacing: 10px;
	padding: 0px 0px 0px 0px;
}
.menu {
	width: 600px;
	height: 350px;
	margin: 0px auto;
	position: fixed;
	bottom: 0px;
}
.vertical1 {
	width: 265px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.vertical2 {
	width: 200px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	left: 212px;
}
.vertical3 {
	width: 265px;
	height: 350px;
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.caja_girada {
  text-align: right;
  font-family: "Open Sans", sans;
	font-size: 25px;
	font-weight: 400;
  height: 50px;
  opacity: 1;
  -webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
  transform: rotate (-90deg);
  position: absolute;
	z-index: 9999;
}
.vertical1 .caja_girada {
  width: 160px;
	top: 104px;
  right: -59px;
}
.vertical2 .caja_girada {
  width: 199px;
	top: 104px;
  right: 9px;
}
.vertical3 .caja_girada {
  width: 186px;
	top: 107px;
  right: 142px;
}
.vertical1 .texto_fijo,
.vertical2 .texto_fijo,
.vertical3 .texto_fijo {
  color: #2d3c4b;
}
.vertical1 .texto_oculto,
.vertical2 .texto_oculto,
.vertical3 .texto_oculto {
  opacity: 0;
  transition: all 0.25s ease-in-out 0s;
}
.vertical1 .caja_girada:hover .texto_oculto,
.vertical2 .caja_girada:hover .texto_oculto,
.vertical3 .caja_girada:hover .texto_oculto {
  color: #1b252e /*rgba(45,60,75,0.9)*/;
  opacity: 1;
  transition: opacity 0.15s ease-in-out 0s;
}
.vertical1 .caja_girada:hover .texto_fijo,
.vertical2 .caja_girada:hover .texto_fijo,
.vertical3 .caja_girada:hover .texto_fijo {
  color: #1b252e; /* 212d38 161e25 */
}


/* --- IDIOMA ---------------------------------------------- */

.idioma0 {
	margin: 0px auto;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 9999;
}
.idioma1 {
	font-family: "Open Sans", sans;
	font-size: 15px;
	font-weight: 600;
	margin: 0px auto;
	line-height: 10px;
	width: 200px;
	height: 70px;
}
.idioma1 h1 {
	font-family: "Open Sans", sans;
	font-size: 13px;
	font-weight: 600;
	margin: 0px auto;
}
.idioma1 h2 {
	font-family: "Open Sans", sans;
	font-size: 20px;
	font-weight: 600;
	margin: 10px auto;
	padding: 0px;
}


/* --- LINKS ----------------------------------------------- */
.idioma0 span:link {
	text-decoration:none;
	color: #ffffff;
}
.idioma0 span:visited {
	text-decoration:none;
	color: #ffffff;
}
.idioma0 span:hover {
	text-decoration:none;
	color: #2d3c4b;
	text-decoration: blink;
}


/* --- NAVBAR ---------------------------------------------- */
.navBar {
	display: flex;
  justify-content: center;
	flex-wrap: wrap;
	background-color: black;
}
.navBar .navBarLeft,
.navBar .navBarRight {
	margin: 10px;
}


/* --- ACADEMIA TAG ---------------------------------------- */
.academiaTagBall {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	border: solid 4px #2d3c4b;
}
.academiaTagBall img {
	width: 30px;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}
.academiaTag {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	border: solid 4px #2d3c4b;
}
.academiaTag {
	position: relative;
	width: 427px;
  height: 140px;
  border-radius: 30px 30px 70px 30px;
  box-shadow:
		1px 1px 3px rgba(0,0,0,0.2),
		0px 0px 0px 5px rgba(188,188,188,0.5);
}
.academiaTag img {
	position: absolute;
	width: 45px;
	top: 7px;
	left: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.academiaTagTray {
	position: relative;
	font-family: 'Open Sans', sans;
}
.academiaTagTray h1 {
	font-size: 106%;
	font-weight: 800;
	letter-spacing: -1px;
	word-spacing: 0px;
	line-height: 4px;
	color: rgba(255,255,255,0.9);
	/* opacity: 0; */
	text-align: right;
	padding: 6px 25px 2px 65px;
}
.academiaTagTray h2 {
	font-size: 81%;
	letter-spacing: -1px;
	word-spacing: 1px;
	font-weight: 400;
	line-height: 0px;
	color: rgba(255,255,255,0.6);
	/* opacity: 0; */
  text-align: right;
	padding: 0px 25px 0px 25px;
}
.academiaTagTray h3,
.academiaTagTray p {
	text-align: center;
	font-size: 62.5%;
	font-weight: 400;
	padding: 5px 0px 0px 0px;
}



/* --- ACADEMIA BAR ---------------------------------------- */

.academiaBars { width: 300px; }
.academiaBar {
	display: block;
	margin: 5px 0 5px auto;
}



/* TEST */
.c1 {
	background-color: black;
	width: 100px;
	transition: width 0.2s ease-in;
}
.c2 {
	width: 500px;
	transition: width 2s ease-in;
}